body {
    margin-top: 15px;
    margin-left: 2px;
    background-color: floralwhite;
}

.my-container {
    color: purple;
}

#myh1 {
    margin: 0px;
    margin-top:0px;
    width: 340px;
    height: 80px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 45px;
}

#textbox {
    border: 4px solid purple;
    padding:12px;
    padding-top: 12px;
    margin: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 340px;
    height: 80px;
    text-align: right;
    font-size: 40px;
}

#answer {
    padding: 12px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-right: 0px;
    width: 340px;
    height: 70px;
    text-align: right;
    font-size: 40px;
    text-decoration: underline;
}

#msg {
    padding: 12px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-right: 0px;
    width: 340px;
    height: 70px;
    text-align: right;
    font-size: 40px;
    text-decoration: underline;
}


.key {
    border: 4px solid purple;
    padding: 2px;
    margin: 3px;
    margin-top: 3px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 40px;
}

.red {
    color: red;
}

.mycol {
    border: 4px solid purple;
    padding: 4px;
    margin: 6px;
    text-align: center;
}