body {
    background-color: floralwhite;
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    margin-left: 40px;
    margin-right: 70px;
    color: purple;
}

.imagec {
    width:100%;
    display:block;
    padding: 5px;
    border-style: solid;
    margin-left:20px;
}

#flink {
    font-weight: bold;
    font-size: 22px;
    color:blue;
    text-decoration: underline;   
}
