.ted-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.ted-link {
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}

.imagec {
    width:100%;
    display:block;
    padding: 5px;
    border-style: solid;
    margin-left:20px;
}

